WSCoreSpotLight-Demo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
WSCoreSpotLight-Demo.xcodeproj/xcuserdata/devSC.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
WSCoreSpotLight-Demo.xcodeproj/xcuserdata/devSC.xcuserdatad/xcschemes/WSCoreSpotLight-Demo.xcscheme
WSCoreSpotLight-Demo.xcodeproj/xcuserdata/devSC.xcuserdatad/xcschemes/xcschememanagement.plist
